body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
}
body {
    background: #ccc;

}
.logo-container,.nav-links,header{
    display: flex;
}
img{
    max-width: 100%;
}
header{
    width: 100%;
    align-items: center;
    background-color: rgba(23, 23, 23, 0.9);

    border-bottom:   #e8491d 5px solid;
}
.btn {
    background: black;
    color: white;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
.btn:hover {
    background: #C3A9FF;
    color: black;
}
.logo-container{
    flex: 1;
    align-items: center;
    overflow: hidden;
    margin:auto;
    width: 80%;
}
.logo-container img{
    height: 9vh;
    margin:30px;
    margin-right: 100px;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-left: 35px;
}

nav{
    flex: 2;
}
.nav-links{
    justify-content: space-around;

    list-style: none;
    font-size: 17px;
}
.nav-link{
    flex: 1;
    text-decoration: none;
    font-weight: 400;
    color: #999999;
}
.nav-link:hover{
    color:#C3A9FF;
    font-weight: bold;
}
.nested-nav-links{
    justify-content: space-around;
    color: #999999;
    font-weight: 400;
    list-style: none;
    font-size: 17px;
}
.nested-nav-links:hover{
    color: #e8491d;
}
.nested-nav-links:hover .nested-nav-link
{
    display: block;

}
.nested-nav-link{
    flex: 1;
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    color: #999999;
    margin-left: 10px;
    display: none;
}
.nested-nav-link:hover{
    color:#C3A9FF;
    font-weight: bold;
}
.current a{
    font-weight: bold;
    color: #e8491d;
}
.chapter{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
}
/*footer*/
footer {
    border-top: #e8491d 5px solid;
    background: rgba(23, 23, 23, 0.9);
}
footer #boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
footer h5{
    text-align: center;
    color: white;
}
.box {
    background: #ddd;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow:  0 10px 20px rgba(104, 104, 104, 0.8);
}
.box img{
    height: 9vh;
    margin:0px;
}
footer h3{
    font-size: 1.0rem;
    color: white;
    text-align: center;
}
.info {
    background: #ddd;
    box-shadow:  0 10px 20px rgba(104, 104, 104, 0.8);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
.info p{
    font-size: 1.5rem;
    font-family: sans-serif;
}